<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contas</title>
</head>
<body>
    <div class="container">
        <h1> Cadastro de novo usuário </h1>
        <div class="container">
            <form action="/inserir" method="post">
                <label>Login</label>
                <input name="login" />
                <br>
                <label>Senha</label>
                <input name="senha" />
                <button type="submit">Criar</button>
            </form>
        </div>
    </div>
</body>
</html>