<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contas</title>
</head>
<body>
    <div>
        <table border="1">
            <thead>
            <tr>
                <th>nº Conta</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="conta: ${CadastroContas}">
                <td th:text="${conta.login}"></td>
            </tr>
            </tbody>
        </table>

        <form action="/inserir" method="post">
            <label>Login</label>
            <input name="login" />
            <button type="submit">Criar</button>
        </form>
    </div>
</body>
</html>